{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}
  Contact us
{% endblock %}

{% block body %}
    <header>
        <h1>Contact us</h1>
    </header>
    <article>
        
    </article>
{% endblock %}
